spring:
  datasource:
    url: jdbc:mysql://localhost:3306/test_db
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  output:
    ansi:
      enabled: always #색깔

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update